.container-items {
    padding: 60PX;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.title {
	text-align: center;
	color: #fff;
	margin-top: 0;
  }


.item {
	border-radius: 10px;
    background-color: rgb(238, 172, 118);
	width: 100%;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: var(--main-color-br);
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.buttonContainer{
	display: flex;
	justify-content: space-between;
}

.buttonInfo{
	width: 50%;
}