.imgItem {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.imgItem:hover  {
	transform: scale(1.1);
}

.cardItem{
  overflow: hidden;
}
  
.product-card {
	padding: 16px;
	padding-top: 30px;
}
  
.card-actions {
	justify-content: flex-end;
	margin-top: auto;
	padding-bottom: 10px;
}

.cardTitle{
	display: flex;
	justify-content: space-between;
 	align-items: center;
	margin-bottom: 15px;
}

.priceText{
	color: var(--main-color);
	font-weight: bold;
	padding-bottom: 12px;
}

.customCard{
	background-color: var(--bg-color);
}

.titleText{
	color: white;
}

.contentText{
	color: white;
}

.contentText2{
	padding-top: 10px;
	color: white;
	padding-bottom: 15px;
}

  