.filterList {
    margin-top: 60px;
    display: flex;
    flex-direction: column; /* Cambiar de row a column */
    align-items: flex-start;
    max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
}
  
.select-container {
    flex: 1;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.2s;
}

.select:focus {
    border-color: #6e1843;
    outline: none;
}
  
.select option {
    font-size: 18px;
    color: #333;
}

.select-label {
    color: #fff;
    text-align: center; 
    margin-bottom: 5px; 
    font-weight: bold; 
    font-size: 18px;
}
  

