.bg-main {
    background-color: var(--bg-color);
}

.icon{
    color: var(--main-color-br);
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}

#cartIcon{
    color: var(--main-color);
}

#cartIcon:hover{
    color: #b83400
}

#locationIcon{
    color: var(--main-color);
}

#locationIcon:hover{
    color: #b83400
}