.bg-main {
    background-color: var(--bg-color);
}

.icon{
    color: var(--main-color-br);
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
}

#cartIcon{
    color: var(--main-color);
}

#cartIcon:hover{
    color: #b83400
}

#locationIcon{
    color: var(--main-color);
}

#locationIcon:hover{
    color: #b83400
}

.cart-item-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.user_content{
    display: flex;
}

.locationInfo {
    font-weight: bold;
    color: #ffffff; 
    display: inline-block;
    margin-right: 10px; 
    margin-top: 5px;
}


.cart-badge {
    margin-right: 20px; 
    z-index: 2; 
}
  
.roundedButton {
    border-radius: 50%;
    color: #b83400;
}