.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.textFieldWrapper {
  width: 500px;
  text-align: center;
}

.customTextField {
  background-color: white;
  border-radius: 12px;
}

.tableContainer {
  background-color: white;
  margin-top: 60px;
}

.floating-buttons{
  padding-top: 50px;
}

.formStatus {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.formButton{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}